@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Outfit Variable", sans-serif;
  background: #060606;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #060606;
  margin-top: 20px;
  margin-bottom: 20px;
}

::-webkit-scrollbar-thumb {
  background: #3b3b3b;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

.text-headColor {
  background: linear-gradient(to right, #efefef 2%, #898989 28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.text-gry {
  color: #666666;
}

.text-greenWhite {
  background: linear-gradient(to right, #65b744 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid-pattern {
    z-index: -999;
    background-image: linear-gradient(
        -90deg,
        transparent calc(2em - 1px),
        rgba(255, 255, 255, 0.07) calc(2em - 1px + 1px),
        rgba(255, 255, 255, 0.07) 2em
      ),
      linear-gradient(
        0deg,
        transparent calc(2em - 1px),
        rgba(255, 255, 255, 0.07) calc(2em - 1px + 1px),
        rgba(255, 255, 255, 0.07) 2em
      );
    background-size: 2em 2em;
  }

  @screen xl {
    .grid-pattern-xl {
      z-index: -999;
      background-image: linear-gradient(
          -90deg,
          transparent calc(4em - 1px),
          rgba(255, 255, 255, 0.07) calc(4em - 1px + 1px),
          rgba(255, 255, 255, 0.07) 4em
        ),
        linear-gradient(
          0deg,
          transparent calc(4em - 1px),
          rgba(255, 255, 255, 0.07) calc(4em - 1px + 1px),
          rgba(255, 255, 255, 0.07) 4em
        );
      background-size: 4em 4em;
    }
  }

  @screen md {
    .grid-pattern-md {
      z-index: -999;
      background-image: linear-gradient(
          -90deg,
          transparent calc(3.5em - 1px),
          rgba(255, 255, 255, 0.07) calc(3.5em - 1px + 1px),
          rgba(255, 255, 255, 0.07) 3.5em
        ),
        linear-gradient(
          0deg,
          transparent calc(3.5em - 1px),
          rgba(255, 255, 255, 0.07) calc(3.5em - 1px + 1px),
          rgba(255, 255, 255, 0.07) 3.5em
        );
      background-size: 3.5em 3.5em;
    }
  }

  @screen sm {
    .grid-pattern-sm {
      z-index: -999;
      background-image: linear-gradient(
          -90deg,
          transparent calc(3em - 1px),
          rgba(255, 255, 255, 0.07) calc(3em - 1px + 1px),
          rgba(255, 255, 255, 0.07) 3em
        ),
        linear-gradient(
          0deg,
          transparent calc(3em - 1px),
          rgba(255, 255, 255, 0.07) calc(3em - 1px + 1px),
          rgba(255, 255, 255, 0.07) 3em
        );
      background-size: 3em 3em;
    }
  }

  @screen xs {
    .grid-pattern-xs {
      z-index: -999;
      background-image: linear-gradient(
          -90deg,
          transparent calc(2.5em - 1px),
          rgba(255, 255, 255, 0.07) calc(2.5em - 1px + 1px),
          rgba(255, 255, 255, 0.07) 2.5em
        ),
        linear-gradient(
          0deg,
          transparent calc(2.5em - 1px),
          rgba(255, 255, 255, 0.07) calc(2.5em - 1px + 1px),
          rgba(255, 255, 255, 0.07) 2.5em
        );
      background-size: 2.5em 2.5em;
    }
  }
}
